<html>
<head>
    <link rel="stylesheet" src="styles/main.css">
</head>
<body>
    <div id="demo">
       
        <div v-show="!user">
            <label for="user_input">Please fill a username in GitHub</label>
            <input type="text" v-model="user" id="user_input" lazy debounce="1000">
        </div>
        
        <div v-show="user">
            <h2>{{user}}'s Apps in GitHub</h2>
            <br>
            <button @click="choose">Choose a user</button>
            <br>
        <template v-for="repo in repos | orderBy 'name' ">
            <input type="radio" v-model="currentRepo" :id="repo.name" :value="repo.name">
            <label :for="repo.name">{{repo.name}}</label>
        </template>
            <p>{{user}}/{{currentRepo}}</p>
       
        <ul>
            <li v-for="record in commits">
                <a :href="record.html_url" target="_blank" class="commit">{{record.sha.slice(0, 7)}}</a>
                - <span class="message">{{record.commit.message | truncate}}</span><br>
                by <span class="author">{{record.commit.author.name}}</span>
                at <span class="date">{{record.commit.author.date | formatDate}}</span>
            </li>
        </ul>
        </div>
    </div>
    
    <script src="node_modules/vue/dist/vue.min.js"></script>
    <script src="node_modules/vue-resource/dist/vue-resource.min.js"></script>
    <script src="scripts/main.js"></script>
</body>
</html>